<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{Document}}</title>
</head>

<style>

    #colorblack {

        background-color: black;
        height: 100px;
        width: 100px;
    }

    #colorred {

        background-color: red;
        height: 100px;
        width: 100px;
    }

</style>


<body>

    <h1>Checkerboard</h1>
    
<table>
 
    {% for i in range(rows)%}
    <tr>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
       
    </tr>

    <tr>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
    
    </tr>

    <tr>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
    
    </tr>
    
    <tr>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
    
    </tr>
    <tr>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
    
    </tr>
    
    <tr>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
    
    </tr>
    
    <tr>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
    
    </tr>
    
    <tr>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
        <td id="colorred"></td>
        <td id="colorblack"></td>
    
    </tr>
    
    {% endfor %}
</table>




</body>
</html>